*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  width: 100%;
  height: 70px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b80e5+1,2b9ace+93,03607c+100 */
 /* Old browsers */
   /* FF3.6-15 */
   /* Chrome10-25,Safari5.1-6 */
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* IE6-9 */
  background-color: #39a5ef;
}

h1 {
  font-size: 2.3em;
}

.logo {
  float: left;
}

.container {
  width: 100%;
}

.centeral {
  width: 600px;
  margin: auto;
  text-align: center;
}

p {
  font-size: 1.3em;
}

body {
    background-color: #f0f4f5;
}


body {}

img {
    /*margin-top: 18px;*/
    /*filter: drop-shadow(1px 2px 7px #777);*/
}

.desc.left-align {
    text-align: left;
}

.pre {
    max-width: 100%;
    overflow-wrap: break-word;
    font-size: 1em;
    padding: 5px;
}

p.pre {
    font-family: monospace;
    vertical-align: middle;
}

.pre-wrapper {
    border: 1px black;
    background: #fff;
    vertical-align: middle;
}

h2 {
    margin-bottom: 7px;
}

table {
    width: 100%;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 9px 3px rgba(188, 216, 236, 0.75);
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eae9e9;
    transition: all 0.5s;
}

td {
    padding-left: 10px;
    height: 49px;
}

th {
    padding-left: 10px;
    /* border-bottom: 1px solid #aacace; */
    height: 42px;
}

.box-400 {
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
}

.put-right {
    float: right;
}

.put-left {
    float: left;
}

input.threedigit {
    height: 35px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #888;
    font-size: 1.2em;
    text-align: center;
}

tr:hover {
    background-color: #e6e6e6;
}

quick-hover:hover {
    background-color: #e6e6e6;
}

.table-box {
    display: inline;
    padding: 9px;
    border: solid #666;
    border-radius: 10px;
    background-color: #ccc;
    color: #666;
}

a.no-style {
  color:black;text-decoration:none;
}

@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
