<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rebute ypur repos</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="..">Rebute</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="../reports">Reports</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="header">
    <div class="logo">

    </div>
    <div class="account">

    </div>
</div>
<br>
<br>
<div class="fluid-container">
    <div class="centeral" style="width: 800px;">
        <h1>Dashboard</h1>
        <br>
        <div class="col-md-pull-5">
            <div class="desc left-align put-left">
                <p>
                    You can find your repos here
                </p>
                <div class="table-wrapper">
                    <table>
                        <tr class="rippleink"><td>Contributors</td><td class="stock-here" id="one">25</td></tr>
                        <tr class="rippleink"><td>Previous Month</td><td class="stock-here" id="two">30</td></tr>
                        <tr class="rippleink"><td>Monthly Funding</td><td class="stock-here" id="two">120$</td></tr>
                        <tr class="rippleink"><td>Total Funding</td><td class="stock-here" id="two">2500$</td></tr>
                    </table>
                </div>

                <br>
            </div>
        </div>
        <div class="col-md-push-5">
            <div class="graph box-400 put-right" id="piechart">

            </div>
        </div>
        <div class="table-wrapper">
            <table>
                <tr class="rippleink"><th>name of repo</th><th>funding stat</th><th>stats</th></tr>
                <tr class="rippleink"><td>Awesome-Lyrics</td><td class="stock-here" id="one">$120</td><td><div class="table-box" style="border-color: #005fc7; background-color: #bddaef; color: #005fc7;"><a class="no-style" href="http://localhost:1337/reports">Ready for processing</a></div></td></tr>
                <tr class="rippleink"><td>PRUND</td><td>Not Integrated</td><td><div class="table-box" style="animation: pulse 2.2s infinite; border-color: #c76900; background-color: #ffc155; color: #c76900;"><a class="no-style" href="http://localhost:1337/snips">Integrate</a></div></td></tr>
                <tr class="rippleink"><td>Rebute-dev</td><td class="stock-here" id="two">$67</td><td><div class="table-box">Processed</div></td></tr>
            </table>
        </div>
    </div>

    <br>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/stocks.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Repo', 'Your Activities'],
            ['Awesome-Lyrics',     11],
            ['PRUND',      1],
            ['Rebute-dev',  4],
        ]);

        var options = {
            title: 'My Daily Activities',
            animation: {"startup": true},
            is3D: true,
            chartArea:{left:0,top:0,width:'100%',height:'100%'},
            backgroundColor: "none"
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
<script type="text/javascript">
  document.querySelector(".stock-here#one").innerHTML = stockStyle("$",50,"down");
  document.querySelector(".stock-here#two").innerHTML = stockStyle("$",35,"up");
</script>
</body>
</html>
