<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rebute ypur repos</title>
    <link rel="stylesheet" href="../public/css/master.css" media="screen" title="no title">
</head>
<body>
<div class="header">
    <div class="logo">

    </div>
    <div class="account">

    </div>
</div>
<br>
<br>
<div class="container">
    <div class="centeral" style="width: 800px;">
        <h1>Dashboard</h1>
        <br>
        <div class="desc left-align put-left">
            <p>
                You can find your repos here
            </p>

            <br>
        </div>
        <div class="graph box-400 put-right" id="piechart">

        </div>
        <div class="table-wrapper">
            <table>
                <tr class="rippleink"><th>name of repo</th><th>funding stat</th><th>stats</th></tr>
                <tr class="rippleink"><td>Awesome-Lyrics</td><td>5$</td><td>Ready to Process</td></tr>
                <tr class="rippleink"><td>PRUND</td><td>Not Integrated</td><td>Integrate Now!</td></tr>
                <tr class="rippleink"><td>Rebute-dev</td><td>Not Integrated</td><td>Integrate Now!</td></tr>
            </table>
        </div>
    </div>

    <br>
</div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Work',     11],
            ['Eat',      2],
            ['Commute',  2],
            ['Watch TV', 2],
            ['Sleep',    7]
        ]);

        var options = {
            title: 'My Daily Activities',
            animation: {"startup": true},
            is3D: true,
            chartArea:{left:0,top:0,width:'100%',height:'100%'},
            backgroundColor: "none"
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
</body>
</html>