<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rebute ypur repos</title>
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title">
  </head>
  <body>
    <div class="header">
      <div class="logo">

      </div>
      <div class="account">

      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="centeral">
        <h1>Add your very own Rebute badge</h1>
        <br>
        <div class="desc left-align">
          <p>
            We found <em>Three</em> repositories owned by you. You can add your Rebute badge to your README.md files
          </p>

          <br>

          <h2>For Awesome-Lyrics:</h2><div class="pre-wrapper put-left" style="width:70%;">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://rebute-raw.herokuapp.com/?q=111)
          </p>
          </div>
          <div class="put-right table-box quick-hover" style="padding-left:0;padding-right:0;width: 20%;text-align:center;vertical-align:middle;"><a style="color:black;text-decoration:none;" href="#">copy text</a></div>

          <br>
          <br>
          <br>
          <br>
          <h2 style="clear:both;margin-top:10px;">For PRUND:</h2><div class="pre-wrapper put-left" style="width:70%;">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://rebute-raw.herokuapp.com/?q=112)
          </p>
          </div>
          <div class="put-right table-box quick-hover" style="padding-left:0;padding-right:0;width: 20%;text-align:center;vertical-align:middle;"><a style="color:black;text-decoration:none;" href="#">copy text</a></div>
          <br>
          <br>
          <br>
          <br>
          <h2 style="clear:both;margin-top:10px;">For Rebute-dev:</h2><div class="pre-wrapper put-left" style="width:70%;">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://rebute-raw.herokuapp.com/?q=113)
          </p>
          </div>
        </div>
        <div class="put-right table-box quick-hover" style="padding-left:0;padding-right:0;width: 20%;text-align:center;vertical-align:middle;"><a style="color:black;text-decoration:none;" href="#">copy text</a></div>

        <br>&nbsp;
        <br>
        <br>
        <br>
        <div class="table-box put-right"><a class="no-style" href="http://localhost:1337/dashboard">Go Back</a></div>
      </div>
    </div>
  </body>
</html>
