<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rebute ypur repos</title>
    <link rel="stylesheet" href="public/css/master.css" media="screen" title="no title">
  </head>
  <body>
    <div class="header">
      <div class="logo">

      </div>
      <div class="account">

      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="centeral">
        <h1>Add your very own Rebute badge</h1>
        <br>
        <div class="desc left-align">
          <p>
            We found <em>Three</em> repositories owned by you. You can add your Rebute badge to your README.md files
          </p>

          <br>

          <h2>For Awesome-Lyrics:</h2><div class="pre-wrapper">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://example.com/?q=111)
          </p>
          </div>
          <br>
          <h2>For PRUND:</h2><div class="pre-wrapper">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://example.com/?q=112)
          </p>
          </div>
          <br>
          <h2>For Rebute-dev:</h2><div class="pre-wrapper">

          <p class="pre">
            [![Rebute Us!](https://s3-us-west-2.amazonaws.com/rebute/github-button.png)](https://example.com/?q=113)
          </p>
          </div>
        </div>

        <br>
      </div>
    </div>
  </body>
</html>
